<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App Example</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/weather-icons.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
