<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title>Weather App Example</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/weather-icons.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>

<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3">
    © 1987‐{{ "now"|date("Y") }} Lars Moelleken, Inc. All rights reserved.
    <br>
    source: <a href="https://github.com/voku/weather-demo">github.com/voku/weather-demo</a>
  </div>
</footer>

</body>
</html>
